/* MAIN CONTENT CONFIGURATION */
html {
    background: white;
    background-size: cover;
    height:100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

#main-content {
    background-color: white;
    padding: 0px;
    border-radius: 3px;
}

body {
    background-color:#2FC2EF;
    padding-top:90px;
    font-family:'Carrois Gothic', sans-serif;
    min-height:100%;
    min-width:100%;
    padding-bottom: 20px;
}

/* navbar */
.brand { 
    width: 55px;
    max-height: 55px; 
    padding-left: 5px;
    padding-bottom: 0;
    margin-top: -10px;
    margin-right: 10px;
}

.navbar-brand {
    font-size: 25px;
}

/* help page */
.panel-heading-subheading {
    padding: 15px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background: white;
}

/* profile page body */
#profileBody {
    padding-top: 0px;
    padding: 0px !important;
    margin: 0px !important;
}

/* Make gutters same size as margins */
.row {
    margin-left: 0;
    margin-right: 0;
}

/* IMAGES - MAKE RESPONSIVE */
img {
  display: block;
  height: auto;
  max-width: 100%;
    width: 100%;
}

/* Makes photo on sidebar centered (Removes display:block)*/
.usr-photo img {
    display:inline;
}

.photo-bucket img {
   width:100%;
   min-height:100%;
}

.photo-bucket-row {
  overflow:hidden;
}


/* LINKS */
/* remove blue box around links */
.btn:focus, .btn:active, .btn.active, .btn:focus:active {
    background-image: none;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color:inherit;
}

/* CONTACT PAGE */
.textarea {
    resize: none;
}

/* POSTED MESSAGE - PROFILE PAGE */
/* Header */
.posted_message_header {
    margin-right: 0px;
    padding: 0px 0px 10px 0px;
    font-size: 18px;
    text-align: right;
}

/* Number of likes (next to heart glyphicons) */
.posted_message_number_of_likes {
    color: #8f8f8f;
    padding-left: 5px;
}

.favorite {
  cursor: pointer;
}

/* Heart glyphicons color */
.fa-heart, .fa-heart-o {
    color: #1abc9c;
}

.posted_message_heart_button {
    border: none;
    padding-right: 15px;
    background: none;
}

/* Popup from likes button */
.likes_popup {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 14px;
}
/********** End header */

/* User name and photo */
.posted_message_usr_name {
    font-size: 14px;
    padding-top: 4px;
}

.posted_message_photo {
    height: 100px;
    width: 100px;
}

/********* End user name and photo*/

/* Content */
.posted_message_caption {
    padding: 10px 0 8px 0;
}

.posted_message_caption_text {
    font-size: 22px;
}
/********* End content */

/*Footer */
.posted_message_footer {
/*    margin-right: 5px;*/
/*    padding: 0px 0px 10px 0px;*/
}

.posted_message_footer_button {
    background: none;
    color: #8f8f8f;
    font-size: 17px;
}

.posted_message_footer_spacing {
    text-align:justify;
}

/* Changes button color to blue on mouse hover */
.posted_message_footer_button:hover {
    color: #39B2CF;
}
/********* End footer */

/* Drop down comments */
.post_message_comments_box {
    margin-bottom: 15px;
}

.posted_message_comments_box_author {
    color:#39B2CF;
}

.comment-img {
    width:64px;
    height: 64px;
}
/********* End drop down comments */

/* ADD PHOTOS PAGE */
.drop-down-add-photo {
    margin: 15px;
}
.add-photos {
    padding-left: 10px;
}
.ratio{
    position:relative;
    width: 100%;
    height: 0;
    padding-bottom: 50% ; /* % of width, defines aspect ratio*/
    
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;  
}

/* FORUM POST - PROFILE PAGE */
/* Forum post header */
.message_forum_header {
    margin-left: 5px;
    text-align: left;
    font-size: 28px;
    padding-bottom: 10px;
}  

.message_forum_title {
    font-size: 22px;
    color: #39B2CF;
}

.message_forum_subtitle {
    font-size: 16px;
    color: #8f8f8f;
}

.message_forum_caption {
    font-size: 24px;
    padding: 0 0 10px 0;
}

.message_reply {
    text-align: right;
    padding-bottom: 10px;
    margin-right: 15px;
}

/**** COVER PAGE ***************************************************/
.margin-base-vertical {
  margin: 40px 0;
}

h1 {
  font-weight: 400;
  font-size: 40px;
}

h2 {
    font-weight: 400;
    font-size: 30px;
}

.whiteText {
    color: white;
}

.blackText {
    color: black;
}

/* Override B3 .panel adding a subtly transparent background */
.panel {
  background-color: rgba(255,255,255,0.85);
  margin: 0 0 20px 0;
  padding: 0 10px;
}

.panel > .list-group, .panel > .panel-collapse > .list-group {
  margin-bottom: 0;
}

.panel > .list-group .list-group-item, .panel > .panel-collapse > .list-group .list-group-item {
  border-radius: 0;
  border-width: 1px 0;
}

/**** KID TAB - PROFILE PAGE ***************************************************/
.kid {
    float: right;
}

.media-heading-kids-name {
    color: black;
}

.bold {
    color: #1abc9c;
}

.kid-buttons-container {
/*    padding-top: 10px;*/
    width: 100%;
    vertical-align: middle;
}

.kid-buttons {
    margin-left: 10px;
}

.checkbox {
    width:20px;
    height:20px;
}

/**** PROFILE PAGE ***************************************************/
/* Post text area */
#textarea {
	width: 100%;
	height: 90px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-size: 15px;
}

.post_button {
    padding-top: 10px;
    text-align: right;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}

::selection {
    background: #68dff0;
    color: #fff;
}

::-moz-selection {
    background: #68dff0;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

/* PHOTO - ALBUM */
.photo-bucket ul {         
    padding:0 0 0 0;
    margin:0 0 0 0;
}
.photo-bucket ul li {     
    list-style:none;
    margin-bottom:25px;           
}
.photo-bucket ul li img {
    cursor: pointer;
}

/* Bootstrap Modifications */
.modal-header {
	background: #68dff0;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.modal-title {
	color: white;
}

.btn-round {
	border-radius: 20px;
	-webkit-border-radius: 20px;
}

/* DropZone for Photos */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
}

/* skin.css Style*/
.upload-drop-zone {
  color: #ccc;
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px;
  text-align: center
}
.upload-drop-zone.drop {
  color: #222;
  border-color: #222;
}

/*Helpers*/

.centered {
	text-align: center;
}

.goleft {
	text-align: left;
}

.goright {
	text-align: right;
}

.mt {
	margin-top: 25px;
}

.mb {
	margin-bottom: 25px;
}

.ml {
	margin-left: 5px;
	}

.no-padding {
	padding: 0 !important;
}

.no-margin {
	margin: 0 !important;
}

.bottom-buffer {
  margin-bottom: 10px;
}

.vertical-middle {
    vertical-align: middle;
}

/*sidebar navigation*/

#sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    background: #39B2CF;
}

#sidebar h4 {
    padding-top: 15px;
    padding-bottom: 5px;
    color: white;
    font-weight: bolder;
}

.subheader {
    color:red;
}

#sidebar p {
    line-height: 170%;
}

.about {
    margin-bottom: 20px;
    color: black;
}

.aboutMe {
    padding: 0 20px 0 20px;
    align-content: center;
    text-align: center;
    color: white;
    padding-top: 5px;
    padding-bottom: 30px;
}

#sidebar .img-rounded {
    margin-top: 20px;
}

#sidebar .following {
    text-align: left;
    font-size: 16px;
    padding: 0 30px 0 30px;
    color: black;
    padding-bottom: 30px;
}

#sidebar ul li {
    position: relative;
}

#sidebar .sub-menu > .sub li  {
    padding-left: 32px;
}

#sidebar .sub-menu > .sub li:last-child {
    padding-bottom: 10px;
}

/* Sidebar menu - keep! */
.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub{
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}


/* *************************************************************************************
PANELS CONFIGURATIONS
*************************************************************************************** */

/* showcase background */
.showback {
	background: #fff;
	padding: 15px;
	margin-bottom: 15px;
	box-shadow: 0px 3px 2px #aab2bd;
  min-height: 300px;
  border: 1px solid #EEF6FE;
}

.showback-about {
  text-align: center;
	background: #1abc9c;
  padding: 25px;
	margin-bottom: 15px;
	box-shadow: 0px 3px 2px #aab2bd;
  min-height: 300px;
/*    padding-bottom: 100%*/
}

.kids {
	background: #E1EBF2;
}

/*footer*/
.site-footer {
    background: #34495e;
    color: #fff;
    padding: 20px;
    margin: 10px;
    margin-bottom: 25px;
}


/* Min width so that input add ons line up */
.input-group-addon {
  min-width: 45px;
}

/* CONTACT PAGE */
.contact-photo {
    padding-right: 40px;
}

.mt-contacts {
    padding: 30px;
}

.contact-header {
    color: #1abc9c;
    padding: 15px;
}

.contact-about-paragraph {
}
.contact-more-button {
    margin: 20px;
    padding: 15px;
}

.contact-profiles {
    margin-top: 30px;
}
.contact-profiles-end {
    margin-bottom:30px;
}

/*
Template based off of:
Template Name: DASHGUM FREE - Bootstrap 3.2 Admin Theme
Template Version: 1.0
Author: Carlos Alvarez
Website: http://blacktie.co
*/

/* Media CSS */
.media {
  margin-top: 15px;
}

.topic-list .media {
  margin: 5px 10px 15px;
}

.media-heading {
  margin-bottom: 5px;
  margin-top: 0;
}

.media-body {
  padding-left: 5px;
}

.media-left, .media-right, .media-body {
  display: table-cell;
  vertical-align: top;
}

.media-left, .media > .pull-left {
  padding-right: 10px;
}

/* Sidebar */

.sidebar {
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
  bottom: 0;
  display: block;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 20px;
  position: fixed;
  top: 51px;
  z-index: 1000;
}

.nav-sidebar {
  margin-bottom: 20px;
  margin-left: -20px;
  margin-right: -21px;
}

.nav-sidebar > .active > a, 
.nav-sidebar > .active > a:hover, 
.nav-sidebar > .active > a:focus {
  background-color: #428bca;
  color: #fff;
}

.nav-sidebar > .dropdown-header {
  color: #777777;
  display: block;
  font-size: 17px;
  line-height: 1.42857;
  padding: 5px 10px;
  white-space: nowrap;
}

/* Topic */

.reply-count {
  /*float: left;
  margin-left: 15px;
  padding-top: 5px; */
  margin-top: 10px;
  text-align: center;
}

.collapse.in {
  /*max-height: 500px;
  overflow-y: scroll;*/
}

.collapse {
  /*max-height: 500px;
  overflow-y: scroll;*/
}

.upload {
  cursor: pointer;
  width: 100%;
}

.upload-item {
  width: 250px;
  height: 150px;
}

.profile-upload {
  text-align: right;
}

.profile-upload > .btn-default {
  border: none;
  background-color: transparent;
  opacity: 0.8;
  color: #FFF;
}

.profile-upload > .btn-default:hover {
  opacity: 1;
}
