
@media (min-width: 980px) and (max-width: 2000px) {
}

@media (min-width: 769px) and (max-width: 979px) {
    
}

@media (max-width: 768px) {

    /* Add padding to main content to move it down from under
    the top row while adjusting size of display window */
    #main-content-box {
/*        padding-top:520px;*/
         height:100%;
    }

    .header {
        position: absolute;
    }

    /*sidebar*/

    #sidebar {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001;
    }
    
    /* body container */
    #main-content {
        margin: 0px!important;
        position: none !important;
    }

    /* sidebar */
    #sidebar {
        margin: 0px !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) {

}

@media (max-width: 480px) {
    
    /* Add padding to main content to move it down from under
    the top row while adjusting size of display window */
    #main-content-box {
/*        padding-top:535px;*/
    }
}

@media (min-width: 321px) and (max-width: 479px) {

}

@media (max-width:320px) {
       
    /* Add padding to main content to move it down from under
    the top row while adjusting size of display window */
    #main-content-box {
/*        padding-top: 1000px;*/
    }

    .cmt-form {
        display: inline-block;
        width: 75%;
    }

}
